html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    width: 100px;
    height: 50px;
    background-color: cadetblue;
}

h2{
    color: cadetblue;
}

p{
    font-weight: bold;
    font-style: italic;
}

input{
    width: 100px;
    height: 30px;
}

#cuentaRegresiva {
    border: 1px;
    border-color: black;
    border-style: solid;
    color: bisque;
}