* {
    background-color: bisque;
}


html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button{
    width: 100px;
    height: 50px;
    background-color: rgb(38, 0, 255);
    border-radius: 10px;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    color: beige;
}

h2{
    color: rgb(38, 0, 255);
}

p{
    font-weight: bold;
    font-style: italic;
}

input{
    width: 100px;
    height: 30px;
}

#cuentaRegresiva {
    border: 1px;
    border-color: black;
    border-style: solid;
    color: rgb(38, 0, 255);
}